@font-face {
	font-family: PublicSans;
	src: url(/static/fonts/PublicSans-Regular.woff)
	font-weight: normal;
}

@font-face {
	font-family: PublicSans;
	src: url(/static/fonts/PublicSans-Bold.woff)
	font-weight: bold;
}

@font-face {
	font-family: PublicSans;
	src: url(/static/fonts/PublicSans-Italic.woff)
	font-style: italic;
}

@font-face {
	font-family: PublicSans;
	src: url(/static/fonts/PublicSans-BoldItalic.woff)
	font-style: italic;
	font-weight: bold;
}

body{
	margin:40px auto;
	max-width:650px;
	line-height:1.6;
	font-size:18px;
	color:#444;
	padding:0 10px;
	font-family: PublicSans, sans-serif
}

h1,h2,h3{
	line-height:1.2;
}
